charset-normalizer
click
jsonpath-ng
jsonschema
jsonschema-specifications
listener
multidict
natsort
numpy
openpyxl
outcome
overrides
packaging
pandas
pathspec
pip
python-dateutil
python-dotenv
pywin32
PyYAML
reportportal-client
requests
rich-click
robotframework
robotframework-archivelibrary
robotframework-assertion-engine
robotframework-browser
robotframework-csvlibrary
robotframework-databaselibrary
robotframework-difflibrary
robotframework-jsonlibrary
robotframework-pabot
robotframework-pythonlibcore
robotframework-reportportal
robotframework-requests
robotframework-ride
robotframework-seleniumlibrary
robotframework-stacktrace
robotframework-tidy
selenium
setuptools
tzdata
urllib3
webdriver-manager
websocket-client
